* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background: rgb(233, 236, 239);
}

button {
    cursor: pointer;
}


#about,
#rooms,
#services,
#gallery {
    margin: 120px 0;
}

/* ------------------------------------CUSTOM STYLES---------------------------------- */
.custom-btn {
    color: #af8564;
    border: 2px solid #af8564;
}

.custom-btn:hover {
    background-color: #af8564;
    color: #ffffff;
}

.text-custom {
    color: #af8564;
}

.bg-custom {
    background-color: #af8564;
}

.text-smooth {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.border-custom {
    border: 2px solid #af8564;
}

.box-shadow {
    box-shadow: 0 2px 10px 5px rgba(175, 133, 100, 0.3);
}

.ls {
    letter-spacing: 3px;
}

.fs-small {
    font-size: 12px;
}

.about {
    background-color: #ffffff;
}



/* -------------------------------------------nav-------------------------------- */

.logo {
    font-size: 2.5rem;
    margin-top: 5px;
    color: #af8564;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    width: 100%;
    height: 120px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    position: relative;
}

.login {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    background-color: transparent;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 100px;
}

.login:hover {
    color: #af8564;
    border: 1px solid #af8564;
}

.sign-up {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    background-color: transparent;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.sign-up:hover {
    color: #af8564;
    border: 1px solid #af8564;
}

nav ul li a:hover {
    color: #af8564;
}

.nav-icon {
    display: none;
}

/* ---------------------------------HERO SECTION--------------------------- */

.hero-info {
    background: rgba(0, 0, 0, 0.75);
    padding: 30px;
    color: #ffffff;
    border-radius: 10px;
}

.hero,
.hero-carousel,
.hero-carousel-item {
    height: 100vh;
    position: relative;
}

.hero-texts {
    margin-top: 100px;
}

.hero-carousel-btn {
    transform: translateY(0) !important;
    z-index: 5;
}

/* ----------------------------------ABOUT SECTION---------------------- */

.material-icons {
    font-size: 3rem;
    color: #af8564;
    border: 1px solid #af8564;
    border-radius: 50%;
    padding: 10px;
}

.material-icons:hover {
    background: #af8564;
    color: #ffffff;
}

/* ---------------ROOMS SECTION----------------------------- */

/* .carousel,.carousel-item{
    min-height: 100vh;
} */

.room-content {
    background-color: rgb(33, 37, 41);
    color: #ffffff;
}

.carousel-control-prev,
.carousel-control-next {
    transform: translateY(-20%);
}

.slider-next {
    right: -70%;
    position: relative;
}

.slider-prev {
    left: -70%;
    position: relative;
}

.rooms .carousel-control-next-icon,
.rooms .carousel-control-prev-icon {
    filter: invert(100%);
}

/* -------------------------FACILTIES SECTION------------------------ */

.service {
    background-color: rgb(33, 37, 41);
    color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    transition: 0.5s;
}

.service:hover {
    background-color: #af8564;
    transform: translateY(-30px);
}

.service-icons {
    font-size: 4.5rem;
}

/* -----------------------------GALLERY SECTION-------------------------- */

.gallery-border {
    border: 2px solid white;
}


.gallery-img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-img img {
    transition: transform 0.5s ease, filter 0.5s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    outline: none;
}

.gallery-img:hover img {
    transform: scale(1.1);
    filter: blur(0.5px);
}

.view-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    z-index: 2;
    opacity: 0;
    transition: 0.3s ease;
}

.gallery-img:hover .view-icon {
    opacity: 1;
}

/* ------------------------------FOOTER------------------------------- */

.footer-card {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 25px;
}

.social-icons {
    margin-right: 15px;
    font-size: 1.9rem;
}

.social-icons:hover {
    color: #af8564;
}

.mid-margin {
    margin-left: 90px;
}



/* -----------------------------LOGIN--------------------------------- */

.login-bg {
    min-height: 100vh;
    background-color: #d2a76b;
    padding: 50px 0;
    margin: auto;
}

.login-image {
    background-image: url(images/login.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.overlay-text {
    text-shadow: 4px 4px 20px rgba(0, 0, 0);
}

form {
    font-family: 'Poppins';
}

.form-bg {
    background-color: rgb(33, 37, 41);
    color: #ffffff;
}

.form-label {
    font-size: 1.2rem;
}

.login-btn {
    background-color: #d2a76b;
    color: #ffffff;

    border-radius: 10px;
}

.login-btn:hover {
    background-color: #ffffff;
    color: #d2a76b;
}

.form-bg input:focus {
    border-color: rgb(210, 167, 107);
    box-shadow: 0 0 0 0.2rem rgb(210, 167, 107, 0.5);
}

.form-bg a {
    text-decoration: none;
    color: #d2a76b;
}

.row-border {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
}


/* -------------------------------------MEDIA QUERIES----------------------------- */

@media (max-width: 900px) {

    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    .nav-icon {
        display: block;
        font-size: 35px;
        color: #af8564;
        margin-top: 5px;
        margin-left: 5px;
    }

    #sidemenu {
        background: rgba(0, 0, 0, 0.75);
        position: fixed;
        display: block;
        top: 0;
        right: -230px;
        width: 230px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul li a {
        color: #af8564;
        font-weight: bold;
        font-size: 1.3rem;
    }

    nav ul .nav-icon {
        position: absolute;
        top: -2px;
        left: -8px;
        cursor: pointer;
    }

    .login {
        margin-left: 0;
    }

    .carousel-control-prev,
    .carousel-control-next {
        transform: translateY(0);
    }

    .mid-footer {
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        align-items: start !important;
    }

    .mid-margin {
        margin-left: 0;
    }

    .right-col {
        display: flex;
        align-items: start !important;
    }

    .social-icons {
        margin-right: 5px;
        font-size: 1.4rem;
    }

    .login{
        color: #af8564;
        border: 1px solid #af8564;
    }

    .login:hover{
        color: #ffffff;
        border: 1px solid #ffffff;
    }

    .sign-up{
        color: #af8564;
        border: 1px solid #af8564;
    }

    .sign-up:hover{
        color: #ffffff;
        border: 1px solid #ffffff;
    }
}